@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Proza+Libre:wght@600&display=swap');


$darkblue: #1C213D;
$midblue: #313C82;
$yellow: #EBBA40;
$red: #E45F56;
$pink: #F5E9E9;
$poppins: 'Poppins', sans-serif;
$prozalibre: 'Proza Libre', sans-serif;

.container {
  margin: 10px 20px;
}
body {
  font-family: $poppins;
  color: $darkblue;
  background-color: $pink;
}

a {
  text-transform: uppercase;
  font-size: 14px;
  text-decoration: none;
  color: $darkblue;
  margin-left: 10px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo a {
    color: $red;
    text-decoration: none;
    font-family: $prozalibre;
    font-size: 40px;
    margin-left: 0px;
  }


  nav a:hover {
    color: $red;
  }
}


input.btn {
  background-color: transparent;
  border: solid 2px $darkblue;
  padding: 0.5em;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
  margin-top:10px;
  transition: background-color 0.5s ease;

}
input.btn:hover {
  background-color: $pink;
}


label {
  margin-right: 10px;

  abbr {
    text-decoration: none;
  } 
}

.new_user .input, .session .input {
  display: flex;
  align-items: center;
}

input[type=text], input[type=email], input[type=password]{
  background-color: transparent;
  border: solid 2px $darkblue;
  padding: 0.25em;
  border-radius: 8px;
  margin: 5px 0;
  outline: none;
  display: flex;
  align-items: center;
}

form#new_user, form.simple_form.session {
  background-color: $yellow;
  max-width: 500px;
  padding: 50px;
  font-size: 30px;
  border-radius: 20px;
}

label.required {
  margin-left: -20px;
}

.username {
  text-transform: capitalize;
}

.success {
  background-color: $darkblue;
  padding: 20px;
  color: $pink;
}

.error {
  background-color: $red;
  padding: 20px;
  color: $darkblue;
}