<h1> Edit account </h1>
<%= simple_form_for @user, url:account_path do |f| %>
  <%= f.input :subscription_plan, as: :select, collection:
  [['Basic Subscription - £9.99/mo', 'price_1K1VaIAKLJKLXKWGV5BRVSyw'], ['Pro Subscription - $19.99/mo', 'price_1K1VckAKLJKLXKWGEGRdN7i2']], 
  include_blank: false %>
  <%= f.button :submit, "Update account" %>

<% end %>

<p>
  <%= link_to "Delete account", account_path, method: :delete, 
  data: { confirm: "Are you sure you want to delete your account?" } %>
</p>